[Desktop Entry]
Name=Joplin
GenericName=Secure Notebook
Comment=Joplin for the desktop, a free and secure notebook management application
TryExec=/usr/bin/joplin-desktop
Exec=/usr/bin/joplin-desktop %u
Icon=org.joplinapp.Joplin
StartupWMClass=Joplin
Type=Application
Categories=Office;
MimeType=x-scheme-handler/joplin;text/markdown;text/plain;
Keywords=security;privacy;notes;notepad;notebook;todo;bookmark;collaborate;research;think;organise;organize;archive;
Terminal=false
SingleMainWindow=true
Version=1.5
